$primary: #fc9400;

@import 'clwebcss';
@import 'navbar';
@import 'favorites';
@import 'card';

.sub-header h2 {
	text-align: center;
}

// Footer styles
footer {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
