// .form {
// 	padding: 30px 40px;
// }

.form-control {
	position: relative;
}

.form-control input {
	border: 2px solid #e1e1e1;
	border-radius: 4px;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
}

.form-control input:focus {
	outline: 0;
	border-color: #e1e1e1;
}
