$primary: #fc9400;

.back {
	color: blue;
	text-decoration: underline;
	margin-left: 1.5rem;
}

.ingredients__list {
	color: #808080;
}

.ingredients__list li::before {
	content: '\2022';
	color: $primary;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
